.mario-title {
    color:#F4C203;
}

.mario-title:link, .mario-title:hover{
    text-decoration: none;
    pointer-events: none;
}


#genericModal .modal-content > * {
    background-color: #EFEFD3;
}


html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.content{
    width:100%;
    height:100%;
    background:linear-gradient(244.61deg, #BE2A06 0.33%, #C64A0D 10.75%, #CA580E 22.7%, #CF6910 27.13%, #D67E12 37.5%, #D89219 49.13%, #D67E12 74.51%, #C64A0D 84.91%, #BE2A06 100.09%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mario-text{
    color: #F4C203;
    font-weight: bolder;
    -webkit-text-stroke: 2px black;
}

#genericModal input[type], #genericModal input[type]:hover, #genericModal input[type]::placeholder, 
#genericModal input[type]:focus {
    background: #1F0207;
    color: yellow;
}

#genericModal input[type]::placeholder {
    color:rgba(255, 255, 0, 0.356);
}

#team-container {
    width:1200px;
    height:600px;
    background-color: #EFEFD3;
    box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.75);
}

#teams-content {
    height:500px;
    overflow: hidden;
    overflow-y:visible;
}

#team-container-title {
    background-color: #F37500;
    height:100px;
    width:600px;
    margin-top:-30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.head-picture{
    border-radius: 50%;
    background-color: #404040;
    border: solid 4px black;
}
.head-picture:hover{
    border: solid 4px rgb(243 117 0);
}

.downvote {
    color:red;
    cursor: pointer;
}

.upvote {
    color:green;
    cursor: pointer;

}

