.mario-title {
    color:#F4C203;
}

.mario-title:link, .mario-title:hover{
    text-decoration: none;
    pointer-events: none;
}


#genericModal .modal-content > * {
    background-color: #EFEFD3;
}



.mario-text{
    color: #F4C203;
    font-weight: bolder;
    -webkit-text-stroke: 2px black;
}

#genericModal input[type], #genericModal input[type]:hover, #genericModal input[type]::placeholder, 
#genericModal input[type]:focus {
    background: #1F0207;
    color: yellow;
}

#genericModal input[type]::placeholder {
    color:rgba(255, 255, 0, 0.356);
}




@media only screen and (min-width: 500px){
    #team-container {
        width:1000px;
        height:500px;
        background-color: #EFEFD3;
        box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.75);
    }
}

@media only screen and (min-width: 1600px){
    #team-container {
        width:1200px;
        height:600px;
        background-color: #EFEFD3;
        box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.75);
    }
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

@media only screen and (min-height:900px){
    .content{
        height:100%;
    }
}

@media only screen and (max-height:900px){
    .content{
        width:100%;
        height:700px;
        background:linear-gradient(244.61deg, #BE2A06 0.33%, #C64A0D 10.75%, #CA580E 22.7%, #CF6910 27.13%, #D67E12 37.5%, #D89219 49.13%, #D67E12 74.51%, #C64A0D 84.91%, #BE2A06 100.09%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: auto;
    }

    html,body{
        overflow: unset;
    }
}

.content{
    width:100%;
    height:100%;
    background:linear-gradient(244.61deg, #BE2A06 0.33%, #C64A0D 10.75%, #CA580E 22.7%, #CF6910 27.13%, #D67E12 37.5%, #D89219 49.13%, #D67E12 74.51%, #C64A0D 84.91%, #BE2A06 100.09%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}





.backgroundSelectedChar{
    background-color: #EFEFD3;
    border-radius:25px;
    border:solid 5px black;
    height:fit-content;
    padding-bottom: 2%;
}

.link-bar {
    text-decoration: none;
}

.team:hover {
    opacity: 0.5;
    cursor: pointer;
}
.team {
    color:inherit;
    text-decoration:none;
}
.stats li{
    background-color: burlywood !important;
    padding-top:1%;
    padding-bottom: 1%;
    display:block;
}
#teams-content {
    height:500px;
    overflow: hidden;
    overflow-y:visible;
}

#team-container-title {
    background-color: #F37500;
    height:100px;
    width:600px;
    margin-top:-30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.head-picture{
    border-radius: 50%;
    background-color: #404040;
    border: solid 4px black;
}

.head-picture-builder {
    height:180px;
    width:180px;
}
.head-picture:hover{
    border: solid 4px rgb(243 117 0);
}

.downvote {
    color:red;
    cursor: pointer;
}

.upvote {
    color:green;
    cursor: pointer;

}

